$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: '../fonts/OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Colores */

$grisoscuro: #44454b;
$grisclaro: #e5e5e5;
$gris: #b1b1b3;
$verde: #aece0a;


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Space out content a bit */
body {
  padding-top: 150px;
  padding-bottom: 20px;
  font-family: "Century Gothic", sans-serif;
  color: $grisoscuro;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header-vlm {
  .header {
    padding-top: 2rem;
    background-color: #FFFFFF;
    .main-menu {
      margin-top: 2rem;
      text-align: center;
      border-top: 1px solid $grisclaro;
      border-bottom: 1px solid $grisclaro;
      a {
        color: $grisoscuro;
      }
      a:hover {
        background-color: #FFFFFF;
      }
    }
    .dropdown {
      font-family: 'OpenSans-Light', sans-serif;
      background-color: #FFFFFF;
      letter-spacing: normal;
      .dropdown-toggle {
        text-transform: uppercase;
        color: $grisoscuro;
        strong {
          font-family: 'OpenSans-Bold', sans-serif;
        }
        .glyphicon {
          font-size: 2rem;
        }
      }
      a {
        color: $grisoscuro;
      }
      a:hover {
        background-color: #FFFFFF;
      }
    }
  }
  .navbar-header {
    .navbar-toggle {
      border: 1px solid $grisclaro;
      width: 50px;
      height: 40px;
      color: #cccccc;
    }
  }
}

a:hover {
  color: darken($verde, 10%);
  text-decoration: none;
}

h5 {
  margin: 5px 0px;
}

.entradas-vlm {

}

.destacados-vlm {

}

.label {
  text-transform: uppercase;
  background-color: $verde;
  border-radius: 0;
  position: absolute;
  font-size: 95%;
  bottom: 0px;
  left: 25px;
  padding: 0.5em 0.8em 0.4em;
}

.destacado-small {
  margin-bottom: 20px;
}

.categoria {
  text-transform: uppercase;
  font-weight: 900;
  color: $grisoscuro;
}

.categoria::after {
  content: "|";
  margin-left: 5px;
  color: $grisoscuro;
}

.fecha {
  text-transform: none;
  color: $verde;
  font-weight: 900;
}

.titulo-entrada {
  font-weight: 900;
  color: #44454b;
}

.comment-entry {
  text-align: right;
  font-weight: 900;
  font-size: 12px;
  margin: 5px 0px;
  .comentarios {
    color: $gris;
  }
  .comentarios:hover {
    text-decoration: none;
  }
}

/* Isotipe Style */

/* ---- grid ---- */

.grid {
  background: $grisclaro;
  height: 50%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 350px;
  margin: 5px 15px;
}

/* Centrar Columnas */

.col-centered{
  float: none !important;
  margin: 0 auto !important;
}

/* Columnas XL */

/* Place this after bootstrap.scss */

$screen-xl:                  1560px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;
$container-xlarge-desktop:   (1530px + $grid-gutter-width) !default;
$container-xl:               $container-xlarge-desktop !default;

.container {
  // @include container-fixed; No need for, already done.
  @media (min-width: $screen-xl-min) {
    width: $container-xl;
  }
}

// xLarge grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

// Generate the xlarge columns
@mixin make-xl-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-xl-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-xl-column-offset($columns) {
  @media (min-width: $screen-xl-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xl-column-push($columns) {
  @media (min-width: $screen-xl-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xl-column-pull($columns) {
  @media (min-width: $screen-xl-min) {
    right: percentage(($columns / $grid-columns));
  }
}

@mixin make-grid-columns($i: 1, $list: ".col-xl-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xl-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

@include make-grid-columns;

@include responsive-invisibility('.visible-xl');

.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block {
  display: none !important;
}

@media (min-width: $screen-xl-min) {
  @include responsive-invisibility('.visible-lg');
  @include responsive-visibility('.visible-xl');
}
.visible-xl-block {
  @media (min-width: $screen-xl-min) {
    display: block !important;
  }
}
.visible-xl-inline {
  @media (min-width: $screen-xl-min) {
    display: inline !important;
  }
}
.visible-xl-inline-block {
  @media (min-width: $screen-xl-min) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-invisibility('.hidden-lg');
}

@media (min-width: $screen-xl-min) {
  @include responsive-invisibility('.hidden-xl');
  @include responsive-visibility('.hidden-lg');

  .visible-lg-block,
  .visible-lg-inline,
  .visible-lg-inline-block {
    display: none !important;
  }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
